/* ====================== */
/*        RESET           */
/* ====================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
}

/* ====================== */
/*      NAVIGATION        */
/* ====================== */

nav {
  /* background-color: aliceblue; */
  height: 76px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 11px;
}

.logo {
  width: 118px;
  height: 28px;
}

/* ====================== */
/*        MAIN            */
/* ====================== */

/* ===== HERO MOBILE ===== */

.hero-mobile {
  height: 544px;
  margin-inline: auto;
}

.hero-img {
  display: flex;
  justify-content: center;
  height: 160px;
  margin-block-start: 64px;
  background: url(image-hero.png);
  background-position-x: -25px;
  background-size: cover;
}

.hero-desktop {
  display: none;
}

.hero-img .img-mobile {
  width: 433px;
}
.hero-text-mobile {
  height: 336px;
}

.hero-contents-mobile h1 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-block: 48px 24px;
  color: #28283d;
}

.hero-contents-mobile p {
  font-size: 15.5px;
  font-weight: 400;
  text-align: center;
  margin-block-end: 24px;
  color: #87879d;
}

/* ===== FEATURES SECTION ===== */

.feature-section {
  height: 900px;
}

.feature-content {
  width: 311px;
  height: 819px;
  margin-inline: auto;
}

.feature-content-gallery {
  height: 304px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 16px;
  margin-block: 64px;
}

.feature-content-gallery img {
  width: 147.5px;
  height: 144px;
  border-radius: 30px;
}

.feature-text {
  height: 251px;
  color: #fafafa;
  text-align: center;
}

.feature-text span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  color: #4d96a9;
  line-height: 1.1;
}

.feature-text h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.1;
  color: #28283d;
  margin-block: 16px 32px;
}

.feature-text p {
  font-size: 15.5px;
  color: #4d96a9;
  line-height: 1.5;
  margin-block-end: 64px;
}

/* ====================== */
/*        FOOTER          */
/* ====================== */

footer {
  height: 385px;
  display: flex;
  justify-content: center;
  background: url(image-footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}

footer::after {
  content: "";
  position: absolute;
  top: 100;
  /* left: 0; */
  background-color: #855fb1;
  opacity: 50%;
  width: 100%;
  height: 385px;
  z-index: 0;
}

.footer-content {
  width: 311px;
  height: 246px;
  margin-block-start: 64px;
  z-index: 2;
}

.footer-content h2 {
  font-size: 32px;
  color: #fafafa;
  height: 70px;
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  margin-block-end: 24px;
}

.footer-content p {
  font-size: 16px;
  color: #fafafa;
  height: 72px;
  line-height: 1.5;
  text-align: center;
  margin-block-end: 24px;
}

/* ====================== */
/*       COMPONENTS       */
/* ====================== */

/* BUTTON */

.button-group {
  width: 193px;
  height: 128px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.btn {
  height: 56px;
  border-radius: 29px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  color: #fafafa;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  width: 193px;
}

.btn-secondary {
  font-family: inherit;
  background-color: #855fb1;
  width: 161px;
  margin-inline: auto;
}

.btn-primary span {
  font-family: inherit;
  color: #8fe3f9;
}

.btn-primary.btn-footer {
  background-color: #855fb1;
}

.btn-primary {
  font-family: inherit;
  background-color: #4d96a9;
}

.btn-primary:hover {
  background-color: #71c0d4;
}

.btn-secondary:hover {
  background-color: #b18bdd;
}

.btn-primary.btn-footer:hover {
  background-color: #b18bdd;
}

/* TIMELINE NUMBER */

.timeline-01,
.timeline-02 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-01 img,
.timeline-02 img {
  width: 56px;
  height: 136px;
  margin-inline: auto;
}

.timeline-02 {
  position: relative;
  top: 25px;
  z-index: 2;
}

/* ====================== */
/*       MEDIA QUERY      */
/* ====================== */

/* ===== TABLET ===== */

@media (min-width: 768px) {
  .hero-mobile {
    height: 761px;
  }

  .hero-contents-mobile {
    height: 633px;
    margin-inline: auto;
  }

  .hero-contents-mobile .hero-img {
    height: 303px;
  }

  .hero-text-mobile {
    height: 258px;
    width: 448.3px;
    margin-inline: auto;
  }

  .hero-contents-mobile-top p {
    font-size: 18px;
    color: #87879d;
  }

  .hero-contents-mobile-top h1 {
    font-size: 48px;
    color: #28283d;
  }

  .feature-section {
    height: 791px;
  }

  .feature-content {
    width: 680px;
    height: 671px;
  }

  .feature-content-gallery {
    grid-template-columns: repeat(4, 1fr);
    margin-block: unset;
  }

  .feature-text {
    width: 504px;
    height: 247px;
    margin-inline: auto;
    margin-block-start: 64px;
  }

  .feature-text span {
    font-size: 14px;
  }

  .feature-text h2 {
    font-size: 38px;
  }

  .feature-text p {
    font-size: 16px;
  }

  footer {
    height: 428px;
    align-items: center;
  }

  footer::after {
    height: 428px;
  }

  .footer-content {
    width: 504px;
  }

  .footer-content h2 {
    margin-block-end: unset;
  }

  .button-group {
    width: 371px;
    flex-direction: row;
    margin-inline: auto; 
  }

  .btn-secondary {
    width: 193px;
  }
}

/* ===== HERO DESKTOP ===== */

@media (min-width: 1440px) {
  .hero-mobile {
    display: none;
  }

  .hero-desktop {
    display: block;
    margin-block: 64px 56px;
    margin-inline: auto;
    /* border-bottom: 1px solid blue; */
  }

  nav {
    max-width: 1440px;
    margin-inline: auto;
  }

  .hero-desktop {
    width: 1440px;
    height: 488px;
    /* background-color: cyan; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .hero-desktop-text {
    width: 1120px;
    height: 360px;
    /* background-color: darkturquoise; */
  }

  .hero-desktop-text-top {
    width: 448.3px;
    height: 314px;
    margin-inline: auto;
  }

  .hero-desktop-text-top h1 {
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    margin-block: 15px 32px;
  }

  .hero-desktop-text-top p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-block-end: 24px;
    line-height: 1.5;
    color: #87879d;
  }

  .hero-desktop-img-left,
  .hero-desktop-img-right {
    width: 394px;
    height: 360px;
    /* background-color: slateblue; */
  }

  .hero-contents-mobile-top h1 {
    width: 448px;
    height: 140px;
    font-size: 64px;
  }

  .feature-content {
    width: 1120px;
  }
  .feature-content-gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
  }

  .feature-content-gallery img {
    width: 256px;
    height: 256px;
  }

  .feature-text {
    width: 544px;
    height: 235px;
    margin-inline: auto;
  }

  .feature-text span {
    font-size: 24px;
  }

  .feature-text h2 {
    font-size: 40px;
    margin-block-end: 32px;
  }

  .feature-text p {
    font-size: 18px;
    margin-block-end: 72px;
  }

  footer {
    max-width: 1440px;
    margin-inline: auto;
  }

  footer::after {
    width: 1440px;
  }

  .footer-content {
    width: 1120px;
    height: 312px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-content h2,
  .footer-content p {
    text-align: left;
  }

  .footer-content p {
    width: 355px;
    height: 81px;
    font-size: 18px;
  }

  .button-group {
    width: 371px;
    height: 88px;
    flex-direction: row;
  }

  .btn-primary.btn-footer {
    width: 193px;
    height: 56px;
    justify-self: flex-end;
    position: relative;
    left: 50px;
    font-weight: 800;
  }

  /* ===== HERO DESKTOP END ===== */
}
